html {
  background: #E4E5E6;
}

body {
	background: #fff;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.app-header {
	position: fixed;
	z-index:100;
	height: 55px;
	border-bottom: 1px solid #ccc;
	width:100%;
	background:inherit;
  padding-left:45px;
}

.app-footer {
	position:fixed;
	z-index:100;
	border-top: 1px solid #ccc;
	padding:10px;
	bottom:0;
	transition: left 0.3s,width 0.3s;
	background:inherit;
}

.navbar-toggler {
	position: absolute;
	left: 0;
	width:55px;
	height:55px;
	font-size:1.3rem;
	color:#bbb;
	border:none;
	border-bottom:inherit;
	background:inherit;
	cursor: default;
}

.sidebar {
	position: fixed;
	width: 220px;
	height: calc(100% - 55px);
	background: #333;
	color: #ddd;
	transition:all 0.3s;
}

.sidebar > nav ul ul {
	background:#555;
	display:none;
}

.content {
	position:absolute;
	right:0;
	transition:left 0.3s;
	padding-bottom:55px;
  background:#E4E5E6;
}
.content > .container-fluid {
  margin:20px;
  padding:15px;
  background:#FFF;
}

.sidebar > nav {
	height:100%;
	overflow-y:auto;
}

.sidebar > nav ul {
	list-style-type:none;
	padding-left:0;
	margin:0;
}

.sidebar > nav ul > li > a, .sidebar > nav ul > li > span, .sidebar > nav ul > li > form > button {
	padding:10px;
	color:#fff;
	display:block;
	cursor:pointer;
	background: transparent;
	border:none;
	width:100%;
	text-align:left;
	transition: background 0.3s;
}
.sidebar > nav ul > li > a:hover, .sidebar > nav ul > li > span:hover, .sidebar > nav ul > li > form > button:hover {
	background:#20a8d8;
	text-decoration:none;
}
.sidebar > nav ul > li > a > .fa, .sidebar > nav ul > li > span > .fa, .sidebar > nav ul > li > form > button > .fa {
	margin-right: 0.5rem;
}
.sidebar > nav ul > li > span > span {
  float:right;
  border-top:8px solid transparent;
  border-left:8px solid #FFF;
  border-bottom:8px solid transparent;
  border-right:0px;
  margin-top:4px;
  margin-right:7px;
  transition:transform .4s;
}
.sidebar > nav ul > li > span.open > span {
  transform: rotate(90deg);
}

.sidebar > nav::-webkit-scrollbar {
	position:absolute;
	width:10px;
	margin-left:-10px;
	-webkit-appearance:none;
}
.sidebar > nav::-webkit-scrollbar-thumb {
	height:50px;
	background-color:#11171a;
	background-clip: content-box;
	border-color:transparent;
	border-style:solid;
	border-width: 1px 2px;
	border-radius:10px;
}
.sidebar > nav::-webkit-scrollbar-track {
	background-color: #506067;
	border-right:1px solid #1c2429;
	border-left:1px solid #1c2429;
}

/*******************************************************************/
/*                   START SIDEBAR CONFIGURATION                   */
/*******************************************************************/

/* Responsive mode */
@media (min-width: 768px) {
    .sidebar-auto .sidebar {
        left:0;
    }
    .sidebar-auto .content, .sidebar-auto .footer {
        left:220px;
        width:calc(100% - 220px);
    }
}
@media (max-width: 767px) {
    .sidebar-auto .sidebar {
        left: -220px;
    }
    .sidebar-auto .content, .sidebar-auto .footer {
        left: 0;
        width:100%;
    }
}

/* Force hide the sidebar */
.sidebar-hidden .sidebar {
	  left: -220px;
}
.sidebar-hidden .content, .sidebar-hidden .footer {
	  left:0;
}

/* Force show the sidebar */
.sidebar-show .sidebar {
	  left: 0;
}
.sidebar-show .content, .sidebar-hidden .footer {
	  left: 220px;
}

/* Smartphone: sidebar full width */
@media (max-width: 575px) {
    .sidebar {
        width: 100%;
        z-index: 5;
    }
    .sidebar > nav ul > li > a,
    .sidebar > nav ul > li > span,
    .sidebar > nav ul > li > form > button {
        text-align:center;
    }
    .sidebar-hidden .sidebar,
    .sidebar-auto .sidebar {
    	  left: -100%;
    }
    .content {
        left: 0 !important;
    }
}

/*******************************************************************/
/*                    END SIDEBAR CONFIGURATION                    */
/*******************************************************************/

.app-body {
	padding-top: 55px;
	display:block;
}

h1 {
	text-align:center;
}
h1, h2 {
	margin: 11px auto;
}
label {
	margin-bottom: 0;
	padding-top: calc(0.5rem - 1px);
	padding-bottom: calc(0.5rem - 2px);
}
.fa-cd:before{content: "\229a";}

.form-control-feedback {
	position: initial;
	top: initial;
	right: initial;
	width: initial;
	height: initial;
	line-height: initial;
	text-align: initial;
	color:#b22;
}

.table > tbody > tr[data-url] > td {
	cursor:pointer;
}
.table th, .table td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.table-striped>tbody>tr:nth-of-type(odd){
  background:#eceff1;
}
.table-striped>tbody>tr:hover{
  background:#cacdd0;
}

.table .trash {
  width:30px;
  padding:0;
  padding-right:6px;
  vertical-align:middle;
}

.btn, input.form-control {
  border-radius:0;
}
/*.btn > .fa {
  margin-right: 0.5rem;
}*/

label { font-weight:initial; }
label.bold { font-weight:700; }
a { color:#20a8d8; }
.no-underline {
  text-decoration: none !important;
}

.select2-selection {
  border-radius: 0 !important;
  border: 1px solid rgba(0,0,0,0.15) !important;
}
.select2.select2-container {
  width:100% !important;
}
.btn ~ .select2.select2-container {
  width: calc(100% - 47px) !important;
}

.form-control.select2 {
  display:none;
}
ul.pagination > li > span {
  cursor:default;
}

.btn > label {
  cursor:inherit;
}

.card-header > .btn {
  margin: -7px;
  margin-right: -13px;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

iframe#player {
  max-width:100%;
}
.py-6px {
  padding-top:6px;
  padding-bottom:6px;
}

.card-bottom {
  left:auto;
  margin-bottom:4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 575px) {
  .card.fixed-bottom {
    position: relative;
    display:inline-block;
    box-shadow: none;
    margin-bottom: 1rem;
  }
}