.navbar-toggler {
    padding-top:12px;
}

.navbar-toggler > div {
    width: 25px;
    height: 2px;
    background-color: #bbb;
    margin: 6px 0;
    transition: 0.4s;
}


/*¨Force show the sidebar */
.navbar-toggler.open > div:nth-of-type(1) {
    -webkit-transform: rotate(-45deg) translate(-7px, 5px);
    transform: rotate(-45deg) translate(-7px, 5px);
}

.navbar-toggler.open > div:nth-of-type(2) {
    opacity: 0;
}

.navbar-toggler.open > div:nth-of-type(3) {
    -webkit-transform: rotate(45deg) translate(-6px, -4px);
    transform: rotate(45deg) translate(-6px, -4px);
}

/* Responsive mode, cross when widescreen */
@media (min-width: 768px) {
    .navbar-toggler.auto > div:nth-of-type(1) {
        -webkit-transform: rotate(-45deg) translate(-7px, 5px);
        transform: rotate(-45deg) translate(-7px, 5px);
    }
    
    .navbar-toggler.auto > div:nth-of-type(2) {
        opacity: 0;
    }
    
    .navbar-toggler.auto > div:nth-of-type(3) {
        -webkit-transform: rotate(45deg) translate(-6px, -4px);
        transform: rotate(45deg) translate(-6px, -4px);
    }
}